.Weather {
  background-color: #faf4f4;
  border: 3px solid black;
  border-radius: 20px;
  padding: 20px;
  margin: 55px auto;
  max-width: 800px;
  margin-bottom: 15px;
}
.cityName {
  padding-top: 21px;
  margin-bottom: 17;
  padding-bottom: 0;
  font-size: 18px;
  line-height: 0.2;
  font-weight: bold;
  text-align: center;
}
.currentDate {
  text-align: center;
  color: black;
  text-align: center;
  font-size: 14px;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 11px;
  line-height: 2;
}

#temperature {
  font-size: 45px;
}

.hourlyForecast {
  margin-top: 90px;
  margin-left: 10px;
  line-height: 8px;
}

.allGirls {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
}

.linkGitHub {
  text-align: center;
  font-size: 13px;
  line-height: 1.8;
  margin-bottom: 5px;
  margin-top: 0;
}
.fiveDays {
  padding-top: 12px;
  margin-bottom: 17;
  padding-bottom: 7px;
  font-size: 16px;
  line-height: 0.2;
  text-align: center;
  font-family: "Glegoo", serif;
}
.forecast-icons {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}
.highs-lows {
  text-align: center;
  color: black;
  text-align: center;
  font-size: 14px;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 11px;
  line-height: 1.8;
}
