.cityName {
  padding-top: 26px;
  margin-bottom: 17;
  padding-bottom: 0;
  font-size: 20px;
  line-height: 0.2;
  font-weight: bold;
  text-align: center;
}
.currentDate {
  text-align: center;
  color: black;
  text-align: center;
  font-size: 14px;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 11px;
  line-height: 1.8;
}

.currentTime {
  text-align: center;
  font-size: 14px;
}

#temperature {
  font-size: 45px;
}

.hourlyForecast {
  margin-top: 90px;
  margin-left: 10px;
  line-height: 8px;
}

.allGirls {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
}

.linkGitHub {
  text-align: center;
  font-size: 13px;
  line-height: 1.8;
  margin-bottom: 5px;
  margin-top: 0;
}
