body {
  background-image: url("https://static.wixstatic.com/media/3688c9_cd8f87e9f0b84e089e5f38d261d141b1~mv2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.Weather {
  background-color: #faf4f4;
  border: 3px solid black;
  border-radius: 20px;
  padding: 20px;
  margin: 30px auto;
  max-width: 1000px;
}
p {
  line-height: 9px;
  font-family: "Glegoo", serif;
}
.input-icon {
  display: inline-flex;
  border: 1px solid #2b1020;
  border-radius: 5px;
  padding: 1px;
  width: 350px;
}

.search-btn {
  padding-right: 10px;
  color: #2b1020;
}
div input[type="text"] {
  background-color: #faf4f4;
  border: none;
  outline: none;
  font-family: "Glegoo", serif;
  font-size: 13px;
  margin-left: 15px;
  background-repeat: repeat;
  width: 310px;
}
div input[type="text"],
select,
textarea {
  background-color: #faf4f4;
}

button {
  padding: 5px;
  border: 0;
  background: #faf4f4;
  color: #2b1020;
}
button:focus {
  border: none;
  outline: none;
}
.laceSearch {
  display: inline;
  margin: 0 auto;
  padding-top: 9px;
  padding-bottom: 7px;
  padding-left: 25px;
  padding-right: 20px;
  background-image: url("https://static.wixstatic.com/media/3688c9_7e4a2134c07d41399a83c5cf57cfdd8c~mv2.jpg");
  background-size: cover;
  background-position: center;
  font-family: "Glegoo", serif;
  font-size: 13px;
  border-radius: 5px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
  outline: none;
}
.laceSearch:hover {
  opacity: 0.9;
  cursor: pointer;
}
.laceSearch:focus {
  border: none;
  outline: none;
}
.laceSearch:active {
  box-shadow: 0 1px 0 #515251;
  transform: translateY(1.5px);
  bottom: -4px;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.middleClass {
  display: block;
  margin-top: 90px;
}

.mainInfo {
  margin-top: 90px;
  margin-left: 70px;
}

.centerPicture {
  margin-top: 90px;
}
